{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": true,
                    "chrome": "52"
                }
            }
        ],
        ["@babel/preset-react"],
        ["@babel/preset-typescript"]    
    ]
}